<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.bdh.data.report.dao.ui.BiUiReportDemoSaleDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.bdh.data.report.model.BiUiReportDemoSaleDetail">
        <id column="ID" property="id" />
        <result column="ROW_ID" property="rowId" />
        <result column="SHIP_DAY" property="shipDay" />
        <result column="ORDER_DATE_YEAR" property="orderDateYear" />
        <result column="IS_RETURN" property="isReturn" />
        <result column="RETURN_NOTE" property="returnNote" />
        <result column="APPROVER" property="approver" />
        <result column="COUNTRY" property="country" />
        <result column="REGION" property="region" />
        <result column="PROVINCE" property="province" />
        <result column="CITY" property="city" />
        <result column="DISCOUNT" property="discount" />
        <result column="ORDER_DATE" property="orderDate" />
        <result column="DELIVERY_METHOD" property="deliveryMethod" />
        <result column="CUSTOMER_ID" property="customerId" />
        <result column="CUSTOMER_NAME" property="customerName" />
        <result column="CUSTOMER_" property="customer" />
        <result column="PRODUCT_ID" property="productId" />
        <result column="PRODUCT_CLASSIFY" property="productClassify" />
        <result column="PRODUCT_SUBCLASS" property="productSubclass" />
        <result column="PRODUCT_NAME" property="productName" />
        <result column="QUANTITY" property="quantity" />
        <result column="PROFIT" property="profit" />
        <result column="SALES" property="sales" />
        <result column="ORDER_ID" property="orderId" />
        <result column="RETURN_REASON" property="returnReason" />
        <result column="DELIVERY_DATE" property="deliveryDate" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="MODIFIED_DATE" property="modifiedDate" />
        <result column="MODIFIED_USER" property="modifiedUser" />
        <result column="IP" property="ip" />
        <result column="TENANT_ID" property="tenantId" />
    </resultMap>

</mapper>
