<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.bdh.data.collation.dao.bi.BiDateDownloadInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.bdh.data.collation.model.BiDateDownloadInfo">
        <id column="id" property="id" />
        <result column="NAME" property="name" />
        <result column="REF_CODE" property="refCode" />
        <result column="FILE_NAME" property="fileName" />
        <result column="PATH" property="path" />
        <result column="STORE_FILE_KEY" property="storeFileKey" />
        <result column="STATUS" property="status" />
        <result column="PROCESS_TIME" property="processTime" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="MODIFIED_DATE" property="modifiedDate" />
        <result column="MODIFIED_USER" property="modifiedUser" />
        <result column="IP" property="ip" />
        <result column="TENANT_ID" property="tenantId" />
    </resultMap>

</mapper>
