<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.bdh.data.collation.dao.bi.BiEtlModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.bdh.data.collation.model.BiEtlModel">
        <id column="ID" property="id" />
        <result column="CODE" property="code" />
        <result column="NAME" property="name" />
        <result column="COMMENTS" property="comments" />
        <result column="VERSION" property="version" />
        <result column="POSITION" property="position" />
        <result column="PARENT_CODE" property="parentCode" />
        <result column="ROOT_CODE" property="rootCode" />
        <result column="IS_FILE" property="isFile" />
        <result column="EFFECT" property="effect" />
        <result column="STATUS" property="status" />
        <result column="SYNC_STATUS" property="syncStatus" />
        <result column="VALIDATE" property="validate" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="MODIFIED_DATE" property="modifiedDate" />
        <result column="MODIFIED_USER" property="modifiedUser" />
        <result column="IP" property="ip" />
        <result column="TENANT_ID" property="tenantId" />
        <result column="PROCESS_GROUP_ID" property="processGroupId" />
        <result column="CRON_EXPRESSION" property="cornExpression" />
        <result column="CONTENT" property="content" />
    </resultMap>

</mapper>
