<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.bdh.data.dao.bi.BiEtlConnectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.bdh.data.model.BiEtlConnection">
        <id column="ID" property="id" />
        <result column="CODE" property="code" />
        <result column="FROM_PROCESSOR_CODE" property="fromProcessorCode" />
        <result column="TO_PROCESSOR_CODE" property="toProcessorCode" />
        <result column="REL_PROCESSORS_CODE" property="relProcessorsCode" />
        <result column="REL_MODEL_CODE" property="relModelCode" />
        <result column="VERSION" property="version" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="MODIFIED_DATE" property="modifiedDate" />
        <result column="MODIFIED_USER" property="modifiedUser" />
        <result column="IP" property="ip" />
        <result column="TENANT_ID" property="tenantId" />
        <result column="CONNECTION_ID" property="connectionId" />
    </resultMap>

</mapper>
