<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.bdh.data.collation.dao.bi.BiEtlDbFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.bdh.data.collation.model.BiEtlDbFile">
        <id column="id" property="id" />
        <result column="DB_ID" property="dbId" />
        <result column="ORIGINAL_FILE_NAME" property="originalFileName" />
        <result column="STORED_FILE_NAME" property="storedFileName" />
        <result column="FILE_TYPE" property="fileType" />
        <result column="FILE_PATH" property="filePath" />
        <result column="FILE_SIZE" property="fileSize" />
        <result column="EXPIRE_DATE" property="expireDate" />
        <result column="ACTIVE_FLAG" property="activeFlag" />
        <result column="READ_FLAG" property="readFlag" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="MODIFIED_DATE" property="modifiedDate" />
        <result column="MODIFIED_USER" property="modifiedUser" />
        <result column="IP" property="ip" />
        <result column="TENANT_ID" property="tenantId" />
    </resultMap>

</mapper>
