<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.bdh.data.collation.dao.bi.BiTenantConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.deloitte.bdh.data.collation.model.BiTenantConfig">
        <id column="ID" property="id" />
        <result column="TYPE" property="type" />
        <result column="CONTROLLER_SERVICE_ID" property="controllerServiceId" />
        <result column="READER_ID" property="readerId" />
        <result column="ROOT_GROUP_ID" property="rootGroupId" />
        <result column="EFFECT" property="effect" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="IP" property="ip" />
        <result column="TENANT_ID" property="tenantId" />
    </resultMap>

</mapper>
